<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница о кошках</title>
</head>
<body>
    <div>
        <h1>Коты</h1>
        <p>Кошки — удивительные создания. Мягкие лапки, мурчание и независимый характер. 
        Этот сайт сделан максимально просто, но с любовью к пушистым друзьям.</p>
        <div class="gallery">
            <div class="card">
                <img src="" alt="">
                <span>Рыжий соня</span>
            </div>
            <div class="card">
                <img src="" alt="">
                <span>Серая леди</span>
            </div>
            <div class="card">
                <img src="" alt="">
                <span>Бежевый мурлыка</span>
            </div>
            <div class="card">
                <img src="" alt="">
                <span>Шоколадный тихоня</span>
            </div>
        </div>

        <div class="fun-fact">
            ✨ <strong>Мяу-факт:</strong> Кошки мурлычут не только от удовольствия, 
            но и когда испытывают стресс — это помогает им успокоиться. А частота 
            мурчания (20–140 Гц) даже способствует восстановлению костей!
        </div>

        
    </div>
    
</body>
</html>